{
  "openapi": "3.1.2",
  "info": {
    "title": "HealthSherpa Public API",
    "description": "\u0022Machine-readable contract for the currently available public HealthSherpa endpoints: GET /v1/ping, GET /v1/reference/counties, GET /v1/reference/issuers, GET /v1/reference/providers, POST /v1/quotes, the approval-gated POST /v1/enrollment-sessions, the approval-gated on-exchange policy status endpoints GET /v1/policy-status/applications and GET /v1/policy-status/applications/{confirmation_id}, and the approval-gated direct enrollment endpoints GET /v1/enrollments, POST /v1/enrollments, PUT /v1/enrollments/{enrollment_id}, GET /v1/enrollments/{enrollment_id}, POST /v1/enrollments/{enrollment_id}/cancellations, POST /v1/enrollments/{enrollment_id}/terminations, POST /v1/enrollments/{enrollment_id}/submissions, GET /v1/enrollments/{enrollment_id}/payment_redirect, and POST /v1/enrollments/{enrollment_id}/supporting_documentation. Object schemas remain additive and clients should ignore response fields they do not recognize.\n\nMost HealthSherpa-owned errors follow the unified \u0060ErrorResponse\u0060 schema: \u0060{ \\\u0022error\\\u0022: { \\\u0022code\\\u0022: string, \\\u0022message\\\u0022: string, \\\u0022details\\\u0022?: object } }\u0060. The direct enrollment endpoints instead return service failures as a top-level \u0060errors[]\u0060 array: \u0060{ \\\u0022errors\\\u0022: [ { \\\u0022code\\\u0022: string, \\\u0022message\\\u0022: string, \\\u0022field\\\u0022?: string } ] }\u0060. Edge-generated failures (API Gateway and WAF, before a request reaches the service) always use the unified \u0060ErrorResponse\u0060 envelope, including on the direct enrollment endpoints \u2014 most notably a missing or invalid API key (\u0060403 forbidden\u0060).\u0022",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.one.healthsherpa.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Confirm API reachability and key validity",
        "operationId": "Ping",
        "responses": {
          "200": {
            "description": "API request reached the partner API edge and the supplied API key was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                },
                "example": {
                  "environment": "production",
                  "ok": true
                }
              }
            }
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/reference/counties": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List counties for a ZIP code",
        "description": "Returns the counties that overlap the supplied ZIP code. A ZIP code can cross state lines; each returned county\u0027s \u0060state\u0060 is the canonical state for its \u0060fips_code\u0060. Use the selected fips_code in subsequent quote requests.",
        "operationId": "ListCounties",
        "parameters": [
          {
            "name": "zip_code",
            "in": "query",
            "description": "Five-digit ZIP code to resolve.",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{5}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One or more counties found for the ZIP code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountiesResponse"
                },
                "example": {
                  "counties": [
                    {
                      "fips_code": "12086",
                      "name": "Miami-Dade County",
                      "state": "FL"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The requested resource could not be found. Emitted by the backend when no supported data matches the request (for example, no counties for a ZIP), and by the API edge for unknown paths.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/reference/issuers": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List QHP issuers active in a state",
        "description": "Returns the QHP issuers active in the requested state and plan year. Each entry combines a sortable display name (issuer marketing name when present, legal name otherwise) with the canonical 5-digit HIOS issuer ID for use in subsequent quote filters.\n\n**Plan year:** the optional \u0060plan_year\u0060 query parameter pins the lookup to a specific year and defaults to the current ACA plan year (open enrollment for 2027 begins November 1 2026). Specify \u0060plan_year\u0060 explicitly when reconciling enrollments from a prior year or when shopping the next year before the rollover.\n\n**Response ordering:** entries are sorted by \u0060name\u0060 (case-insensitive) and then by \u0060hios_issuer_id\u0060 as a stable tiebreaker. Clients can iterate the array directly without re-sorting.",
        "operationId": "ListIssuers",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Two-letter uppercase US state code (e.g. \u0060FL\u0060). Lowercase values are rejected with \u0060400 invalid_request\u0060 \u2014 clients must upcase before sending.",
            "required": true,
            "schema": {
              "pattern": "^[A-Z]{2}$",
              "type": "string"
            },
            "example": "FL"
          },
          {
            "name": "plan_year",
            "in": "query",
            "description": "ACA plan year to scope the issuer list to. Defaults to the current ACA plan year when omitted.",
            "schema": {
              "maximum": 2099,
              "minimum": 2020,
              "type": "integer"
            },
            "example": 2026
          }
        ],
        "responses": {
          "200": {
            "description": "One or more issuers found for the state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuersResponse"
                },
                "example": {
                  "issuers": [
                    {
                      "name": "Gulf Coast Coverage Co.",
                      "hios_issuer_id": "33333"
                    },
                    {
                      "name": "Sunshine State Health",
                      "hios_issuer_id": "12345"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The requested resource could not be found. Emitted by the backend when no supported data matches the request (for example, no counties for a ZIP), and by the API edge for unknown paths.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/reference/providers": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Search healthcare providers by name near a ZIP code",
        "description": "\u0022Searches healthcare providers (individuals and facilities) by name near a ZIP code and returns paginated results with NPI and address data. This is a search-only endpoint; there is no \\\u0022list all providers\\\u0022 mode.\n\nUse the returned 10-digit \u0060npi\u0060 values when building provider selections, for example the \u0060providers\u0060 field on an enrollment session.\n\n**Channel:** the required \u0060exchange\u0060 parameter selects the marketplace channel (\u0060on_exchange\u0060 or \u0060off_exchange\u0060).\n\n**Pagination:** results are paginated with the nested \u0060page[number]\u0060 and \u0060page[size]\u0060 query parameters, mirroring the quoting endpoint\u0027s \u0060page\u0060 object. \u0060page[number]\u0060 defaults to 1 (values below 1 are treated as 1) and \u0060page[size]\u0060 accepts 1 to 50, defaulting to 50 (values outside the range resolve to 50). Pagination metadata is returned under \u0060meta\u0060 (\u0060page_number\u0060, \u0060page_size\u0060, \u0060result_count\u0060). An empty search returns \u0060providers: []\u0060 with \u0060result_count\u0060 0.\u0022",
        "operationId": "SearchProviders",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Provider or facility name search term.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            },
            "example": "Smith"
          },
          {
            "name": "zip_code",
            "in": "query",
            "description": "Five-digit ZIP code used for the geographic (near-ZIP) search.",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{5}$",
              "type": "string"
            },
            "example": "85001"
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Marketplace channel to search. Required. One of \u0060on_exchange\u0060 or \u0060off_exchange\u0060.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SearchProvidersExchangeParameter"
            },
            "example": "on_exchange"
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number (mirrors quoting\u0027s page.number). Defaults to 1; values below 1 are treated as 1.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Results per page (mirrors quoting\u0027s page.size), from 1 to 50. Defaults to 50; values outside this range resolve to 50.",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Provider search results for the current page. An empty search returns an empty \u0060providers\u0060 array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersResponse"
                },
                "example": {
                  "providers": [
                    {
                      "first_name": "John",
                      "last_name": "Smith",
                      "organization_name": null,
                      "display_name": "John Smith, MD",
                      "credential": "MD",
                      "entity_type": "individual",
                      "npi": "1972113918",
                      "specialty": "Family Medicine",
                      "specialization": "General Practice",
                      "address_line_1": "123 Main St",
                      "city": "Phoenix",
                      "state": "AZ",
                      "zip_code": "85001"
                    }
                  ],
                  "meta": {
                    "page_number": 1,
                    "page_size": 50,
                    "result_count": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/quotes": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Search plans for one coverage type",
        "description": "Returns a homogeneous list of quote results for exactly one coverage_type. Send one request for one market and one coverage_type at a time.",
        "operationId": "CreateQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "context": {
                  "product": "aca",
                  "exchange": "on_exchange",
                  "coverage_family": "medical",
                  "coverage_type": "medical",
                  "plan_year": 2026
                },
                "location": {
                  "zip_code": "30301",
                  "fips_code": "13121",
                  "state": "GA"
                },
                "household": {
                  "household_size": 1,
                  "annual_income": 52000,
                  "effective_date": "2026-05-01",
                  "applicants": [
                    {
                      "member_id": "applicant-1",
                      "age": 40,
                      "date_of_birth": "1986-05-01",
                      "relationship": "primary",
                      "uses_tobacco": false,
                      "pregnant": false,
                      "blind_or_disabled": false,
                      "native_american": false
                    }
                  ]
                },
                "sort": {
                  "field": "premium",
                  "direction": "asc"
                },
                "page": {
                  "number": 1,
                  "size": 20
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotes returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "The request body exceeded the maximum size accepted by the API edge.",
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "description": "The request \u0060Content-Type\u0060 is not supported by the endpoint.",
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollment-sessions": {
      "post": {
        "tags": [
          "Enrollment Sessions"
        ],
        "summary": "Start an enrollment session",
        "description": "Returns URLs to continue enrollment in a browser-mediated HealthSherpa flow. This endpoint always returns deep links and does not create direct enrollment application records.\n\nBoth agent-assisted and consumer self-service use cases are supported. Set \u0060context.flow\u0060 to \u0060agent_assisted\u0060 for an agent walking a client through enrollment, or to \u0060self_service\u0060 for a consumer enrolling themselves. The \u0060campaign.*\u0060 block and the top-level \u0060plan_id\u0060 field are only accepted in self-service flows.\n\nThe entire \u0060context\u0060 object and every field inside it is required so partners declare product, exchange, coverage, plan year, flow, and locale on every request rather than relying on hidden defaults. In \u0060self_service\u0060, supply at least one of \u0060location.state\u0060 or top-level \u0060plan_id\u0060. In \u0060agent_assisted\u0060, \u0060location.state\u0060 is required.",
        "operationId": "CreateEnrollmentSession",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "\u0022Optional partner-supplied request identifier (1\u2013255 chars, \u0060A-Z\u0060, \u0060a-z\u0060, \u00600-9\u0060, \u0060-\u0060, \u0060_\u0060). Scoped by API key and retained for 24 hours.\n\n- First call: processed normally; the response is captured.\n- Replay (same key \u002B same body): returns the original response verbatim with \u0060Idempotent-Replay: true\u0060.\n- Same key \u002B different body: \u0060422 idempotency_mismatch\u0060.\n- Concurrent retry while the first call is still in flight: \u0060409 idempotency_in_progress\u0060.\n- \u0060429\u0060 responses are not stored, so partners can back off and retry transparently.\n- \u00605xx\u0060 responses **are** stored. Retrying a 5xx with the same Idempotency-Key could risk duplicate work, so partners who believe a 5xx was transient must generate a fresh Idempotency-Key to retry.\u0022",
            "schema": {
              "pattern": "^[A-Za-z0-9_\\-]{1,255}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentSessionRequest"
              },
              "example": {
                "external_id": "crm-lead-abc-123",
                "context": {
                  "product": "aca",
                  "exchange": "on_exchange",
                  "coverage_family": "medical",
                  "coverage_type": "medical",
                  "plan_year": 2026,
                  "flow": "self_service",
                  "locale": "en-US"
                },
                "plan_id": "12345NY0010001",
                "location": {
                  "zip_code": "10001",
                  "fips_code": "36061",
                  "state": "NY"
                },
                "household": {
                  "annual_income": 42000,
                  "household_size": 1,
                  "applicants": [
                    {
                      "relationship": "primary",
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "email": "jane@example.com",
                      "phone_number": "5551234567",
                      "date_of_birth": "1990-01-01",
                      "sex": "female",
                      "uses_tobacco": false
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment session started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentSessionResponse"
                },
                "example": {
                  "external_id": "crm-lead-abc-123",
                  "links": {
                    "shopping_url": "https://healthsherpa.com/public/shop?external_id=crm-lead-abc-123\u0026fip_code=36061\u0026household_income=42000\u0026household_size=1\u0026people%5Bprimary%5D%5Bage%5D=36\u0026people%5Bprimary%5D%5Bgender%5D=female\u0026people%5Bprimary%5D%5Btobacco%5D=false\u0026state=NY\u0026user_type=consumer\u0026year=2026\u0026zip_code=10001",
                    "client_apply_url": "https://healthsherpa.com/public/apply?external_id=crm-lead-abc-123\u0026fip_code=36061\u0026household_income=42000\u0026household_size=1\u0026people%5Bprimary%5D%5Bage%5D=36\u0026people%5Bprimary%5D%5Bgender%5D=female\u0026people%5Bprimary%5D%5Btobacco%5D=false\u0026plan_hios_id=12345NY0010001\u0026state=NY\u0026user_type=consumer\u0026year=2026\u0026zip_code=10001"
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Returned when this API key is not authorized to call this endpoint, or when the developer\u0027s HealthSherpa Marketplace setup is not in the state the requested flow needs.\n\n- \u0060context.flow = \u0022agent_assisted\u0022\u0060 requires approved on-exchange enrollment access (\u0060onExchangeEnrollmentRequestApprovalStatus = \u0022approved\u0022\u0060) and a healthy HealthSherpa Marketplace OAuth link (account approved, integration \u0060active\u0060, on-exchange capability \u0060ready\u0060, and the access token unexpired or refreshable). The OAuth-linked HealthSherpa Marketplace agent must also belong to an agency that is approved for enrollment deeplink URL generation. If HealthSherpa cannot generate \u0060shopping_url\u0060 or \u0060client_apply_url\u0060 because the agent account or agency is not approved for deeplink access, the API returns \u0060403 forbidden\u0060 and does not treat the result as retryable service unavailability.\n- \u0060context.flow = \u0022self_service\u0022\u0060 requires approved on-exchange enrollment access (\u0060onExchangeEnrollmentRequestApprovalStatus = \u0022approved\u0022\u0060) and a configured deeplink agent ID.\n\nBoth flows require approved on-exchange enrollment access. The self-service gate does not consult the OAuth link, and the agent-assisted gate does not consult the deeplink agent ID. Each flow only fails when the configuration it actually uses is not satisfied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notAuthorized": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "This API key is not authorized to access this endpoint."
                      }
                    }
                  },
                  "agentDeeplinksNotEnabled": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "Enrollment deeplinks are not available for this HealthSherpa Marketplace agent yet. Confirm the agent account is part of an agency and that the agency has been approved for deeplink access. Contact HealthSherpa support for help enabling this configuration."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A previous request with the same \u0060Idempotency-Key\u0060 is still being processed by the API. The partner should wait briefly and retry. The response is not produced by the upstream service \u2014 the in-flight request from the first call will succeed or fail on its own.",
            "$ref": "#/components/responses/IdempotencyInProgress"
          },
          "413": {
            "description": "The request body exceeded the maximum size accepted by the API edge.",
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "description": "The request \u0060Content-Type\u0060 is not supported by the endpoint.",
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "The \u0060Idempotency-Key\u0060 has been used before within the 24-hour retention window, but the current request body is not byte-for-byte identical to the original. To resolve, either resubmit the exact original payload or generate a fresh \u0060Idempotency-Key\u0060 for the new request.",
            "$ref": "#/components/responses/IdempotencyMismatch"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/policy-status/applications": {
      "get": {
        "tags": [
          "Policy Status"
        ],
        "summary": "List on-exchange applications for policy status readback",
        "description": "\u0022Alpha release: not all applications have policy status data yet, and carrier coverage is expanding, so treat missing data as expected. Approval-gated on-exchange policy status API for listing HealthSherpa Marketplace applications visible to the OAuth-linked agent. Send \u0060exchange=on_exchange\u0060 and \u0060plan_year\u0060 plus optional \u0060limit\u0060 and \u0060offset\u0060. The \u0060exchange\u0060 query parameter is accepted for routing context and is not forwarded to the Marketplace policy status API. This endpoint does not accept \u0060product\u0060 or off-exchange enrollment filters; use the direct enrollment API for off-exchange applications. The response body includes application summary rows plus pagination metadata.\u0022",
        "operationId": "ListPolicyStatusApplications",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "description": "Policy-status routing channel. Must be \u0060on_exchange\u0060.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListPolicyStatusApplicationsExchangeParameter"
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "description": "Application plan year.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of applications to return.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based pagination offset.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On-exchange Marketplace applications available for policy status readback.",
            "$ref": "#/components/responses/PolicyStatusApplicationsResponse"
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/policy-status/applications/{confirmationId}": {
      "get": {
        "tags": [
          "Policy Status"
        ],
        "summary": "Fetch policy statuses for an on-exchange application",
        "description": "\u0022Alpha release: policy status fields are populated only when the carrier reports them, and carrier coverage is expanding. Approval-gated on-exchange policy status API for reading policy statuses for a HealthSherpa Marketplace application confirmation id. Send \u0060exchange=on_exchange\u0060 and \u0060plan_year\u0060; the path id is the Marketplace application confirmation id returned by \u0060GET /v1/policy-status/applications\u0060. The \u0060exchange\u0060 query parameter is accepted for routing context and is not forwarded to the Marketplace policy status API.\u0022",
        "operationId": "GetPolicyStatusApplication",
        "parameters": [
          {
            "name": "confirmationId",
            "in": "path",
            "description": "HealthSherpa Marketplace application confirmation id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Policy-status routing channel. Must be \u0060on_exchange\u0060.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GetPolicyStatusApplicationExchangeParameter"
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "description": "Application plan year.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy statuses for one on-exchange Marketplace application.",
            "$ref": "#/components/responses/PolicyStatusApplicationResponse"
          },
          "400": {
            "description": "\u0022Request validation failed. The response body\u0027s \u0060error.details\u0060 map contains per-field messages when the backend produced the error; edge-generated 400s omit \u0060details\u0060.\n\nA malformed \u0060Idempotency-Key\u0060 header is also rejected here with \u0060code: idempotency_key_invalid\u0060.\u0022",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For \u0060POST /v1/enrollment-sessions\u0060, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus \u0060agent_assisted\u0060 OAuth link vs \u0060self_service\u0060 deeplink agent ID) instead of using this shared response reference.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The requested resource could not be found. Emitted by the backend when no supported data matches the request (for example, no counties for a ZIP), and by the API edge for unknown paths.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "An unexpected error occurred.",
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "List direct enrollment applications",
        "description": "Approval-gated direct enrollment API for listing off-exchange applications for the approved account. Send \u0060product=ichra\u0060 and \u0060exchange=off_exchange\u0060 as required query parameters so HealthSherpa ONE can validate the direct-enrollment routing channel. The response is paginated and can be filtered by policy status, partner or employer ids, plan identifiers, plan year, and last-updated timestamp. Only the documented list filters are supported; unsupported query parameters are rejected with \u0060400 invalid_request\u0060. Service failures are returned as a top-level \u0060errors[]\u0060 array with \u0060code\u0060, \u0060message\u0060, and optional \u0060field\u0060; failures blocked at the API edge use the unified \u0060error\u0060 envelope.",
        "operationId": "ListEnrollments",
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "description": "Direct-enrollment product. Must be \u0060ichra\u0060.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListEnrollmentsProductParameter"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Direct-enrollment routing channel. Must be \u0060off_exchange\u0060.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListEnrollmentsExchangeParameter"
            }
          },
          {
            "name": "policy_status",
            "in": "query",
            "description": "Filter applications by carrier policy status.",
            "schema": {
              "$ref": "#/components/schemas/ListEnrollmentsPolicyStatusParameter"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by the partner-supplied external application id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "description": "Filter by application plan year.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "issuer_hios_id",
            "in": "query",
            "description": "Filter by issuer HIOS id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan_hios_id",
            "in": "query",
            "description": "Filter by plan HIOS id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employer_external_id",
            "in": "query",
            "description": "Filter by the employer\u0027s external identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "description": "ISO 8601 timestamp. Returns applications updated after this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of applications to return.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based pagination offset.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated direct enrollment application list.",
            "$ref": "#/components/responses/EnrollmentListResponse"
          },
          "400": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Create a direct enrollment application",
        "description": "\u0022Approval-gated direct enrollment API for partners that need API-level control over off-exchange applications. Send the application payload at the request root and include the HealthSherpa ONE \u0060context\u0060 object for routing. Direct enrollment currently supports \u0060context.product = \\\u0022ichra\\\u0022\u0060 and \u0060context.exchange = \\\u0022off_exchange\\\u0022\u0060; other products and exchanges are not supported here. Use \u0060POST /v1/enrollment-sessions\u0060 for on-exchange enrollment. HealthSherpa ONE uses \u0060context\u0060 only for routing and applies the agent and TPA identifiers (\u0060_agent_id\u0060, \u0060tpa_slug\u0060) from your approved account setup; caller-supplied \u0060_agent_id\u0060, \u0060tpa_slug\u0060, \u0060actor.agent_id\u0060, and \u0060agent_of_record\u0060 are rejected.\n\nSuccessful responses include the application data, current validation state, and \u0060next_actions[]\u0060 when actions are currently available. \u0060next_actions[].href\u0060 values point to public \u0060/v1/enrollments\u0060 routes. Service failures (missing or malformed idempotency keys, authorization failures, invalid JSON bodies, validation errors, and service-availability errors) are returned as a top-level \u0060errors[]\u0060 array with \u0060code\u0060, \u0060message\u0060, and optional \u0060field\u0060. Edge-generated failures (API Gateway and WAF) instead use the unified \u0060error\u0060 envelope: a missing or invalid API key returns \u0060403 forbidden\u0060, and \u0060413\u0060, \u0060415\u0060, edge \u0060429\u0060, and gateway \u0060502\u0060/\u0060504\u0060 also use that envelope. See the \u0060EnrollmentError\u0060 response for both shapes.\u0022",
        "operationId": "CreateEnrollment",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Required partner-supplied request identifier (1-255 chars, \u0060A-Z\u0060, \u0060a-z\u0060, \u00600-9\u0060, \u0060-\u0060, \u0060_\u0060). Scoped by API key and retained for 24 hours.",
            "required": true,
            "schema": {
              "pattern": "^[A-Za-z0-9_\\-]{1,255}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange",
                  "plan_year": 2026
                },
                "external_id": "crm-application-123",
                "plan_hios_id": "12345CO1234501",
                "desired_effective_date": "2026-01-01",
                "applicants": {
                  "primary": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "date_of_birth": "1990-01-01",
                    "gender": "female",
                    "email": "jane@example.com",
                    "phone": "5551234567",
                    "signature": "Jane Doe"
                  }
                },
                "residential_address": {
                  "street_address_1": "123 Main St",
                  "city": "Denver",
                  "state": "CO",
                  "zip_code": "80202"
                },
                "special_enrollment_period": {
                  "event_type": "offered_ichra",
                  "event_date": "2025-12-01"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful direct enrollment application response. The response object is additive and may include carrier-specific fields.",
            "$ref": "#/components/responses/EnrollmentResponse"
          },
          "201": {
            "description": "Successful direct enrollment application response. The response object is additive and may include carrier-specific fields.",
            "$ref": "#/components/responses/EnrollmentResponse"
          },
          "400": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "409": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "413": {
            "description": "The request body exceeded the maximum size accepted by the API edge.",
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollmentId}/submissions": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Submit a direct enrollment application",
        "description": "Approval-gated direct enrollment API for submitting an off-exchange application to the carrier. Send the HealthSherpa ONE \u0060context\u0060 object with \u0060product = \u0022ichra\u0022\u0060 and \u0060exchange = \u0022off_exchange\u0022\u0060; \u0060plan_year\u0060 is not required for submission. Check \u0060errors[]\u0060 on the application response before calling; submission fails with \u0060422\u0060 if the application still has outstanding errors. A successful call returns \u0060202 Accepted\u0060; submission processing can continue asynchronously, so poll \u0060GET /v1/enrollments/{enrollment_id}?product=ichra\u0026exchange=off_exchange\u0060 until \u0060policy_status\u0060 reflects the final outcome. If a network timeout or other unknown-result failure occurs after calling submit, poll readback before retrying so you do not turn an already-accepted submission into a duplicate/no-change response.\n\nFor carriers that support post-enrollment changes, call \u0060PUT /v1/enrollments/{enrollment_id}\u0060 to send supported changes, then call this endpoint again to resubmit the tracked changes. The API returns \u0060422\u0060 if no changes have been made since the last submission. Service failures are returned as a top-level \u0060errors[]\u0060 array with \u0060code\u0060, \u0060message\u0060, and optional \u0060field\u0060; failures blocked at the API edge use the unified \u0060error\u0060 envelope.",
        "operationId": "SubmitEnrollmentApplication",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Application id returned by \u0060POST /v1/enrollments\u0060.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Application submission accepted. Processing can continue asynchronously; poll the application read endpoint for final policy status.",
            "$ref": "#/components/responses/SubmitEnrollmentResponse"
          },
          "400": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "422": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollmentId}/cancellations": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Cancel a direct enrollment application",
        "description": "Approval-gated direct enrollment API for cancelling an off-exchange application that is pending effectuation. Send the HealthSherpa ONE \u0060context\u0060 object with \u0060product = \u0022ichra\u0022\u0060 and \u0060exchange = \u0022off_exchange\u0022\u0060. Not all carriers support cancellation; check the application read response for carrier capabilities before calling. A successful response returns \u0060202 Accepted\u0060 with the updated status-change data. If a network timeout or other unknown-result failure occurs after calling cancel, poll \u0060GET /v1/enrollments/{enrollment_id}?product=ichra\u0026exchange=off_exchange\u0060 before retrying so you do not turn an already-accepted cancellation into a misleading not-allowed/no-op retry response. Service failures use a top-level \u0060errors[]\u0060 array with \u0060code\u0060, \u0060message\u0060, and optional \u0060field\u0060; cancellation-not-allowed responses use \u0060400 invalid_field_value\u0060. Failures blocked at the API edge use the unified \u0060error\u0060 envelope.",
        "operationId": "CancelEnrollmentApplication",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Application id returned by \u0060POST /v1/enrollments\u0060.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentActionContextRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Application status-change request accepted.",
            "$ref": "#/components/responses/EnrollmentStatusChangeResponse"
          },
          "400": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollmentId}/terminations": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Terminate an active policy",
        "description": "Approval-gated direct enrollment API for terminating an active off-exchange policy before its natural expiration date. Send the HealthSherpa ONE \u0060context\u0060 object with \u0060product = \u0022ichra\u0022\u0060 and \u0060exchange = \u0022off_exchange\u0022\u0060. Not all carriers support termination; check the application read response for carrier capabilities before calling. A successful response returns \u0060202 Accepted\u0060 with the updated status-change data. If a network timeout or other unknown-result failure occurs after calling terminate, poll \u0060GET /v1/enrollments/{enrollment_id}?product=ichra\u0026exchange=off_exchange\u0060 before retrying so you do not turn an already-accepted termination into a misleading not-allowed/no-op retry response. Service failures use a top-level \u0060errors[]\u0060 array with \u0060code\u0060, \u0060message\u0060, and optional \u0060field\u0060; termination-not-allowed responses use \u0060400 invalid_field_value\u0060. Failures blocked at the API edge use the unified \u0060error\u0060 envelope.",
        "operationId": "TerminateEnrollmentApplication",
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "description": "Application id returned by \u0060POST /v1/enrollments\u0060.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentActionContextRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Application status-change request accepted.",
            "$ref": "#/components/responses/EnrollmentStatusChangeResponse"
          },
          "400": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "description": "The API edge received an invalid response from the backend.",
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level \u0060errors[]\u0060 shape (\u0060EnrollmentErrorsResponse\u0060). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified \u0060error\u0060 envelope (\u0060ErrorResponse\u0060). This is what you receive for a missing or invalid API key (\u0060403 forbidden\u0060), payload-size and media-type rejections (\u0060413\u0060, \u0060415\u0060), edge rate limiting (\u0060429\u0060), and gateway-level \u00605xx\u0060.\n\nBranch on the presence of \u0060errors\u0060 vs \u0060error\u0060, and on the \u0060code\u0060 value, rather than on HTTP status alone.",
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "description": "The API edge did not receive a timely response from the backend.",
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollmentId}/payment_redirect": {
      "get": {
        "tags": [
          "Enrollments"
        ],
[...]
