{
  "openapi": "3.1.0",
  "info": {
    "title": "HealthSherpa Public API",
    "version": "0.1.0",
    "description": "Machine-readable contract for the currently available public HealthSherpa endpoints: GET /v1/ping, GET /v1/reference/counties, GET /v1/reference/issuers, GET /v1/reference/providers, POST /v1/quotes, the approval-gated POST /v1/enrollment-sessions, the approval-gated on-exchange policy status endpoints GET /v1/policy-status/applications and GET /v1/policy-status/applications/{confirmation_id}, and the approval-gated direct enrollment endpoints GET /v1/enrollments, POST /v1/enrollments, PUT /v1/enrollments/{enrollment_id}, GET /v1/enrollments/{enrollment_id}, POST /v1/enrollments/{enrollment_id}/cancellations, POST /v1/enrollments/{enrollment_id}/terminations, POST /v1/enrollments/{enrollment_id}/submissions, GET /v1/enrollments/{enrollment_id}/payment_redirect, and POST /v1/enrollments/{enrollment_id}/supporting_documentation. Object schemas remain additive and clients should ignore response fields they do not recognize.\n\nMost HealthSherpa-owned errors follow the unified `ErrorResponse` schema: `{ \"error\": { \"code\": string, \"message\": string, \"details\"?: object } }`. The direct enrollment endpoints instead return service failures as a top-level `errors[]` array: `{ \"errors\": [ { \"code\": string, \"message\": string, \"field\"?: string } ] }`. Edge-generated failures (API Gateway and WAF, before a request reaches the service) always use the unified `ErrorResponse` envelope, including on the direct enrollment endpoints — most notably a missing or invalid API key (`403 forbidden`)."
  },
  "servers": [
    {
      "url": "https://api.one.healthsherpa.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Utility"
    },
    {
      "name": "Reference"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Enrollment Sessions"
    },
    {
      "name": "Enrollments"
    },
    {
      "name": "Policy Status"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Confirm API reachability and key validity",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "API request reached the partner API edge and the supplied API key was accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                },
                "example": {
                  "environment": "production",
                  "ok": true
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/reference/counties": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List counties for a ZIP code",
        "description": "Returns the counties that overlap the supplied ZIP code. A ZIP code can cross state lines; each returned county's `state` is the canonical state for its `fips_code`. Use the selected fips_code in subsequent quote requests.",
        "operationId": "listCounties",
        "parameters": [
          {
            "name": "zip_code",
            "in": "query",
            "required": true,
            "description": "Five-digit ZIP code to resolve.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One or more counties found for the ZIP code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountiesResponse"
                },
                "example": {
                  "counties": [
                    {
                      "fips_code": "12086",
                      "name": "Miami-Dade County",
                      "state": "FL"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/reference/issuers": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List QHP issuers active in a state",
        "description": "Returns the QHP issuers active in the requested state and plan year. Each entry combines a sortable display name (issuer marketing name when present, legal name otherwise) with the canonical 5-digit HIOS issuer ID for use in subsequent quote filters.\n\n**Plan year:** the optional `plan_year` query parameter pins the lookup to a specific year and defaults to the current ACA plan year (open enrollment for 2027 begins November 1 2026). Specify `plan_year` explicitly when reconciling enrollments from a prior year or when shopping the next year before the rollover.\n\n**Response ordering:** entries are sorted by `name` (case-insensitive) and then by `hios_issuer_id` as a stable tiebreaker. Clients can iterate the array directly without re-sorting.",
        "operationId": "listIssuers",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Two-letter uppercase US state code (e.g. `FL`). Lowercase values are rejected with `400 invalid_request` — clients must upcase before sending.",
            "example": "FL",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$"
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "required": false,
            "description": "ACA plan year to scope the issuer list to. Defaults to the current ACA plan year when omitted.",
            "schema": {
              "type": "integer",
              "minimum": 2020,
              "maximum": 2099
            },
            "example": 2026
          }
        ],
        "responses": {
          "200": {
            "description": "One or more issuers found for the state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuersResponse"
                },
                "example": {
                  "issuers": [
                    {
                      "name": "Gulf Coast Coverage Co.",
                      "hios_issuer_id": "33333"
                    },
                    {
                      "name": "Sunshine State Health",
                      "hios_issuer_id": "12345"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/reference/providers": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "Search healthcare providers by name near a ZIP code",
        "description": "Searches healthcare providers (individuals and facilities) by name near a ZIP code and returns paginated results with NPI and address data. This is a search-only endpoint; there is no \"list all providers\" mode.\n\nUse the returned 10-digit `npi` values when building provider selections, for example the `providers` field on an enrollment session.\n\n**Channel:** the required `exchange` parameter selects the marketplace channel (`on_exchange` or `off_exchange`).\n\n**Pagination:** results are paginated with the nested `page[number]` and `page[size]` query parameters, mirroring the quoting endpoint's `page` object. `page[number]` defaults to 1 (values below 1 are treated as 1) and `page[size]` accepts 1 to 50, defaulting to 50 (values outside the range resolve to 50). Pagination metadata is returned under `meta` (`page_number`, `page_size`, `result_count`). An empty search returns `providers: []` with `result_count` 0.",
        "operationId": "searchProviders",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Provider or facility name search term.",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "Smith"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": true,
            "description": "Five-digit ZIP code used for the geographic (near-ZIP) search.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            },
            "example": "85001"
          },
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Marketplace channel to search. Required. One of `on_exchange` or `off_exchange`.",
            "schema": {
              "type": "string",
              "enum": [
                "on_exchange",
                "off_exchange"
              ]
            },
            "example": "on_exchange"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "description": "Page number (mirrors quoting's page.number). Defaults to 1; values below 1 are treated as 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "description": "Results per page (mirrors quoting's page.size), from 1 to 50. Defaults to 50; values outside this range resolve to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Provider search results for the current page. An empty search returns an empty `providers` array.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersResponse"
                },
                "example": {
                  "providers": [
                    {
                      "first_name": "John",
                      "last_name": "Smith",
                      "organization_name": null,
                      "display_name": "John Smith, MD",
                      "credential": "MD",
                      "entity_type": "individual",
                      "npi": "1972113918",
                      "specialty": "Family Medicine",
                      "specialization": "General Practice",
                      "address_line_1": "123 Main St",
                      "city": "Phoenix",
                      "state": "AZ",
                      "zip_code": "85001"
                    }
                  ],
                  "meta": {
                    "page_number": 1,
                    "page_size": 50,
                    "result_count": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/quotes": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Search plans for one coverage type",
        "description": "Returns a homogeneous list of quote results for exactly one coverage_type. Send one request for one market and one coverage_type at a time.",
        "operationId": "createQuote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "example": {
                "context": {
                  "product": "aca",
                  "exchange": "on_exchange",
                  "coverage_family": "medical",
                  "coverage_type": "medical",
                  "plan_year": 2026
                },
                "location": {
                  "zip_code": "30301",
                  "fips_code": "13121",
                  "state": "GA"
                },
                "household": {
                  "household_size": 1,
                  "annual_income": 52000,
                  "effective_date": "2026-05-01",
                  "applicants": [
                    {
                      "member_id": "applicant-1",
                      "age": 40,
                      "date_of_birth": "1986-05-01",
                      "relationship": "primary",
                      "uses_tobacco": false,
                      "pregnant": false,
                      "blind_or_disabled": false,
                      "native_american": false
                    }
                  ]
                },
                "sort": {
                  "field": "premium",
                  "direction": "asc"
                },
                "page": {
                  "number": 1,
                  "size": 20
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotes returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollment-sessions": {
      "post": {
        "tags": [
          "Enrollment Sessions"
        ],
        "summary": "Start an enrollment session",
        "description": "Returns URLs to continue enrollment in a browser-mediated HealthSherpa flow. This endpoint always returns deep links and does not create direct enrollment application records.\n\nBoth agent-assisted and consumer self-service use cases are supported. Set `context.flow` to `agent_assisted` for an agent walking a client through enrollment, or to `self_service` for a consumer enrolling themselves. The `campaign.*` block and the top-level `plan_id` field are only accepted in self-service flows.\n\nThe entire `context` object and every field inside it is required so partners declare product, exchange, coverage, plan year, flow, and locale on every request rather than relying on hidden defaults. In `self_service`, supply at least one of `location.state` or top-level `plan_id`. In `agent_assisted`, `location.state` is required.",
        "operationId": "createEnrollmentSession",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional partner-supplied request identifier (1–255 chars, `A-Z`, `a-z`, `0-9`, `-`, `_`). Scoped by API key and retained for 24 hours.\n\n- First call: processed normally; the response is captured.\n- Replay (same key + same body): returns the original response verbatim with `Idempotent-Replay: true`.\n- Same key + different body: `422 idempotency_mismatch`.\n- Concurrent retry while the first call is still in flight: `409 idempotency_in_progress`.\n- `429` responses are not stored, so partners can back off and retry transparently.\n- `5xx` responses **are** stored. Retrying a 5xx with the same Idempotency-Key could risk duplicate work, so partners who believe a 5xx was transient must generate a fresh Idempotency-Key to retry.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_\\-]{1,255}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentSessionRequest"
              },
              "example": {
                "external_id": "crm-lead-abc-123",
                "context": {
                  "product": "aca",
                  "exchange": "on_exchange",
                  "coverage_family": "medical",
                  "coverage_type": "medical",
                  "plan_year": 2026,
                  "flow": "self_service",
                  "locale": "en-US"
                },
                "plan_id": "12345NY0010001",
                "location": {
                  "zip_code": "10001",
                  "fips_code": "36061",
                  "state": "NY"
                },
                "household": {
                  "annual_income": 42000,
                  "household_size": 1,
                  "applicants": [
                    {
                      "relationship": "primary",
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "email": "jane@example.com",
                      "phone_number": "5551234567",
                      "date_of_birth": "1990-01-01",
                      "sex": "female",
                      "uses_tobacco": false
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment session started successfully.",
            "headers": {
              "X-Request-Id": {
                "description": "HealthSherpa ONE request id for tracing and support.",
                "schema": {
                  "type": "string"
                }
              },
              "Idempotent-Replay": {
                "description": "Present and set to `true` only when this response is being replayed from a prior call that supplied the same `Idempotency-Key` and request body.",
                "schema": {
                  "type": "string",
                  "enum": [ "true" ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentSessionResponse"
                },
                "example": {
                  "external_id": "crm-lead-abc-123",
                  "links": {
                    "shopping_url": "https://healthsherpa.com/public/shop?external_id=crm-lead-abc-123&fip_code=36061&household_income=42000&household_size=1&people%5Bprimary%5D%5Bage%5D=36&people%5Bprimary%5D%5Bgender%5D=female&people%5Bprimary%5D%5Btobacco%5D=false&state=NY&user_type=consumer&year=2026&zip_code=10001",
                    "client_apply_url": "https://healthsherpa.com/public/apply?external_id=crm-lead-abc-123&fip_code=36061&household_income=42000&household_size=1&people%5Bprimary%5D%5Bage%5D=36&people%5Bprimary%5D%5Bgender%5D=female&people%5Bprimary%5D%5Btobacco%5D=false&plan_hios_id=12345NY0010001&state=NY&user_type=consumer&year=2026&zip_code=10001"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Returned when this API key is not authorized to call this endpoint, or when the developer's HealthSherpa Marketplace setup is not in the state the requested flow needs.\n\n- `context.flow = \"agent_assisted\"` requires approved on-exchange enrollment access (`onExchangeEnrollmentRequestApprovalStatus = \"approved\"`) and a healthy HealthSherpa Marketplace OAuth link (account approved, integration `active`, on-exchange capability `ready`, and the access token unexpired or refreshable). The OAuth-linked HealthSherpa Marketplace agent must also belong to an agency that is approved for enrollment deeplink URL generation. If HealthSherpa cannot generate `shopping_url` or `client_apply_url` because the agent account or agency is not approved for deeplink access, the API returns `403 forbidden` and does not treat the result as retryable service unavailability.\n- `context.flow = \"self_service\"` requires approved on-exchange enrollment access (`onExchangeEnrollmentRequestApprovalStatus = \"approved\"`) and a configured deeplink agent ID.\n\nBoth flows require approved on-exchange enrollment access. The self-service gate does not consult the OAuth link, and the agent-assisted gate does not consult the deeplink agent ID. Each flow only fails when the configuration it actually uses is not satisfied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notAuthorized": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "This API key is not authorized to access this endpoint."
                      }
                    }
                  },
                  "agentDeeplinksNotEnabled": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "Enrollment deeplinks are not available for this HealthSherpa Marketplace agent yet. Confirm the agent account is part of an agency and that the agency has been approved for deeplink access. Contact HealthSherpa support for help enabling this configuration."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyInProgress"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/policy-status/applications": {
      "get": {
        "tags": [
          "Policy Status"
        ],
        "summary": "List on-exchange applications for policy status readback",
        "description": "Alpha release: not all applications have policy status data yet, and carrier coverage is expanding, so treat missing data as expected. Approval-gated on-exchange policy status API for listing HealthSherpa Marketplace applications visible to the OAuth-linked agent. Send `exchange=on_exchange` and `plan_year` plus optional `limit` and `offset`. The `exchange` query parameter is accepted for routing context and is not forwarded to the Marketplace policy status API. This endpoint does not accept `product` or off-exchange enrollment filters; use the direct enrollment API for off-exchange applications. The response body includes application summary rows plus pagination metadata.",
        "operationId": "listPolicyStatusApplications",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Policy-status routing channel. Must be `on_exchange`.",
            "schema": {
              "type": "string",
              "enum": [ "on_exchange" ]
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "required": true,
            "description": "Application plan year.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of applications to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based pagination offset.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PolicyStatusApplicationsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/policy-status/applications/{confirmation_id}": {
      "get": {
        "tags": [
          "Policy Status"
        ],
        "summary": "Fetch policy statuses for an on-exchange application",
        "description": "Alpha release: policy status fields are populated only when the carrier reports them, and carrier coverage is expanding. Approval-gated on-exchange policy status API for reading policy statuses for a HealthSherpa Marketplace application confirmation id. Send `exchange=on_exchange` and `plan_year`; the path id is the Marketplace application confirmation id returned by `GET /v1/policy-status/applications`. The `exchange` query parameter is accepted for routing context and is not forwarded to the Marketplace policy status API.",
        "operationId": "getPolicyStatusApplication",
        "parameters": [
          {
            "name": "confirmation_id",
            "in": "path",
            "required": true,
            "description": "HealthSherpa Marketplace application confirmation id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Policy-status routing channel. Must be `on_exchange`.",
            "schema": {
              "type": "string",
              "enum": [ "on_exchange" ]
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "required": true,
            "description": "Application plan year.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PolicyStatusApplicationResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "List direct enrollment applications",
        "description": "Approval-gated direct enrollment API for listing off-exchange applications for the approved account. Send `product=ichra` and `exchange=off_exchange` as required query parameters so HealthSherpa ONE can validate the direct-enrollment routing channel. The response is paginated and can be filtered by policy status, partner or employer ids, plan identifiers, plan year, and last-updated timestamp. Only the documented list filters are supported; unsupported query parameters are rejected with `400 invalid_request`. Service failures are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`; failures blocked at the API edge use the unified `error` envelope.",
        "operationId": "listEnrollments",
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "required": true,
            "description": "Direct-enrollment product. Must be `ichra`.",
            "schema": {
              "type": "string",
              "enum": [ "ichra" ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Direct-enrollment routing channel. Must be `off_exchange`.",
            "schema": {
              "type": "string",
              "enum": [ "off_exchange" ]
            }
          },
          {
            "name": "policy_status",
            "in": "query",
            "required": false,
            "description": "Filter applications by carrier policy status.",
            "schema": {
              "type": "string",
              "enum": [ "draft", "pending_effectuation", "effectuated", "submission_failed", "cancelled", "terminated" ]
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "Filter by the partner-supplied external application id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan_year",
            "in": "query",
            "required": false,
            "description": "Filter by application plan year.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "issuer_hios_id",
            "in": "query",
            "required": false,
            "description": "Filter by issuer HIOS id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan_hios_id",
            "in": "query",
            "required": false,
            "description": "Filter by plan HIOS id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employer_external_id",
            "in": "query",
            "required": false,
            "description": "Filter by the employer's external identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "required": false,
            "description": "ISO 8601 timestamp. Returns applications updated after this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of applications to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based pagination offset.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnrollmentListResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Create a direct enrollment application",
        "description": "Approval-gated direct enrollment API for partners that need API-level control over off-exchange applications. Send the application payload at the request root and include the HealthSherpa ONE `context` object for routing. Direct enrollment currently supports `context.product = \"ichra\"` and `context.exchange = \"off_exchange\"`; other products and exchanges are not supported here. Use `POST /v1/enrollment-sessions` for on-exchange enrollment. HealthSherpa ONE uses `context` only for routing and applies the agent and TPA identifiers (`_agent_id`, `tpa_slug`) from your approved account setup; caller-supplied `_agent_id`, `tpa_slug`, `actor.agent_id`, and `agent_of_record` are rejected.\n\nSuccessful responses include the application data, current validation state, and `next_actions[]` when actions are currently available. `next_actions[].href` values point to public `/v1/enrollments` routes. Service failures (missing or malformed idempotency keys, authorization failures, invalid JSON bodies, validation errors, and service-availability errors) are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`. Edge-generated failures (API Gateway and WAF) instead use the unified `error` envelope: a missing or invalid API key returns `403 forbidden`, and `413`, `415`, edge `429`, and gateway `502`/`504` also use that envelope. See the `EnrollmentError` response for both shapes.",
        "operationId": "createEnrollment",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required partner-supplied request identifier (1-255 chars, `A-Z`, `a-z`, `0-9`, `-`, `_`). Scoped by API key and retained for 24 hours.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_\\-]{1,255}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange",
                  "plan_year": 2026
                },
                "external_id": "crm-application-123",
                "plan_hios_id": "12345CO1234501",
                "desired_effective_date": "2026-01-01",
                "applicants": {
                  "primary": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "date_of_birth": "1990-01-01",
                    "gender": "female",
                    "email": "jane@example.com",
                    "phone": "5551234567",
                    "signature": "Jane Doe"
                  }
                },
                "residential_address": {
                  "street_address_1": "123 Main St",
                  "city": "Denver",
                  "state": "CO",
                  "zip_code": "80202"
                },
                "special_enrollment_period": {
                  "event_type": "offered_ichra",
                  "event_date": "2025-12-01"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnrollmentResponse"
          },
          "201": {
            "$ref": "#/components/responses/EnrollmentResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "409": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollment_id}/submissions": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Submit a direct enrollment application",
        "description": "Approval-gated direct enrollment API for submitting an off-exchange application to the carrier. Send the HealthSherpa ONE `context` object with `product = \"ichra\"` and `exchange = \"off_exchange\"`; `plan_year` is not required for submission. Check `errors[]` on the application response before calling; submission fails with `422` if the application still has outstanding errors. A successful call returns `202 Accepted`; submission processing can continue asynchronously, so poll `GET /v1/enrollments/{enrollment_id}?product=ichra&exchange=off_exchange` until `policy_status` reflects the final outcome. If a network timeout or other unknown-result failure occurs after calling submit, poll readback before retrying so you do not turn an already-accepted submission into a duplicate/no-change response.\n\nFor carriers that support post-enrollment changes, call `PUT /v1/enrollments/{enrollment_id}` to send supported changes, then call this endpoint again to resubmit the tracked changes. The API returns `422` if no changes have been made since the last submission. Service failures are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`; failures blocked at the API edge use the unified `error` envelope.",
        "operationId": "submitEnrollmentApplication",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/SubmitEnrollmentResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "422": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollment_id}/cancellations": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Cancel a direct enrollment application",
        "description": "Approval-gated direct enrollment API for cancelling an off-exchange application that is pending effectuation. Send the HealthSherpa ONE `context` object with `product = \"ichra\"` and `exchange = \"off_exchange\"`. Not all carriers support cancellation; check the application read response for carrier capabilities before calling. A successful response returns `202 Accepted` with the updated status-change data. If a network timeout or other unknown-result failure occurs after calling cancel, poll `GET /v1/enrollments/{enrollment_id}?product=ichra&exchange=off_exchange` before retrying so you do not turn an already-accepted cancellation into a misleading not-allowed/no-op retry response. Service failures use a top-level `errors[]` array with `code`, `message`, and optional `field`; cancellation-not-allowed responses use `400 invalid_field_value`. Failures blocked at the API edge use the unified `error` envelope.",
        "operationId": "cancelEnrollmentApplication",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentActionContextRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/EnrollmentStatusChangeResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollment_id}/terminations": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Terminate an active policy",
        "description": "Approval-gated direct enrollment API for terminating an active off-exchange policy before its natural expiration date. Send the HealthSherpa ONE `context` object with `product = \"ichra\"` and `exchange = \"off_exchange\"`. Not all carriers support termination; check the application read response for carrier capabilities before calling. A successful response returns `202 Accepted` with the updated status-change data. If a network timeout or other unknown-result failure occurs after calling terminate, poll `GET /v1/enrollments/{enrollment_id}?product=ichra&exchange=off_exchange` before retrying so you do not turn an already-accepted termination into a misleading not-allowed/no-op retry response. Service failures use a top-level `errors[]` array with `code`, `message`, and optional `field`; termination-not-allowed responses use `400 invalid_field_value`. Failures blocked at the API edge use the unified `error` envelope.",
        "operationId": "terminateEnrollmentApplication",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentActionContextRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/EnrollmentStatusChangeResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollment_id}/payment_redirect": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Get payment redirect data",
        "description": "Approval-gated direct enrollment API for retrieving the carrier payment redirect data for an off-exchange application. Send `product=ichra` and `exchange=off_exchange` as required query parameters so HealthSherpa ONE can validate the direct-enrollment routing channel. Use this when the application response includes `payment_instructions.payment_redirect_supported = true`.\n\nThe response includes the carrier endpoint URL, the HTTP method, and form fields to submit in the shopper's browser. The keys and values in `fields` vary by carrier. Do not interpret, filter, rename, or modify them; include every returned field exactly as provided as hidden inputs in a form POST to `endpoint`. Service failures are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`; failures blocked at the API edge use the unified `error` envelope.",
        "operationId": "getEnrollmentPaymentRedirect",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "required": true,
            "description": "Direct-enrollment product. Must be `ichra`.",
            "schema": {
              "type": "string",
              "enum": [ "ichra" ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Direct-enrollment routing channel. Must be `off_exchange`.",
            "schema": {
              "type": "string",
              "enum": [ "off_exchange" ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaymentRedirectResponse"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "422": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollment_id}/supporting_documentation": {
      "post": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Upload supporting documentation",
        "description": "Approval-gated direct enrollment API for uploading a document that supports SEP eligibility for an off-exchange application. Some carriers require documentation for certain SEP reasons before coverage is effectuated. Use `GET /v1/enrollments/{enrollment_id}?product=ichra&exchange=off_exchange` to check `document_status`.\n\nSend the HealthSherpa ONE `context` object with `product = \"ichra\"` and `exchange = \"off_exchange\"` plus either `multipart/form-data` with a binary `file`, or `application/json` with the same file bytes in `file.content_base64`. HealthSherpa ONE does not persist the uploaded file after processing. Service failures are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`; failures blocked at the API edge use the unified `error` envelope.",
        "operationId": "uploadEnrollmentSupportingDocumentation",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "context",
                  "file",
                  "document_type"
                ],
                "properties": {
                  "context": {
                    "$ref": "#/components/schemas/EnrollmentActionContext"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file. Supported formats are PDF, JPEG, and PNG."
                  },
                  "document_type": {
                    "type": "string",
                    "enum": [ "sep" ],
                    "description": "Type of supporting document. Currently only `sep` is accepted."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportingDocumentationRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange"
                },
                "file": {
                  "filename": "sep-proof.pdf",
                  "content_type": "application/pdf",
                  "content_base64": "JVBERi0xLjQg..."
                },
                "document_type": "sep"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SupportingDocumentationResponse"
          },
          "201": {
            "$ref": "#/components/responses/SupportingDocumentationResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/enrollments/{enrollment_id}": {
      "get": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Fetch a direct enrollment application",
        "description": "Approval-gated direct enrollment API for reading an application. Send `product=ichra` and `exchange=off_exchange` as required query parameters so HealthSherpa ONE can validate the direct-enrollment routing channel. HealthSherpa ONE returns the application details for the supplied id. `product` and `exchange` are the only supported read query parameters; `include_events`, `plan_year`, and other read-time query parameters are not supported. The application plan year is returned in the response. Service failures (authorization failures, invalid routing context, and service-availability errors) are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`. Edge-generated failures (API Gateway and WAF) instead use the unified `error` envelope: a missing or invalid API key returns `403 forbidden`, and gateway `502`/`504` also use that envelope. See the `EnrollmentError` response for both shapes.",
        "operationId": "getEnrollment",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "required": true,
            "description": "Direct-enrollment product. Must be `ichra`.",
            "schema": {
              "type": "string",
              "enum": [ "ichra" ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": true,
            "description": "Direct-enrollment routing channel. Must be `off_exchange`.",
            "schema": {
              "type": "string",
              "enum": [ "off_exchange" ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnrollmentResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "put": {
        "tags": [
          "Enrollments"
        ],
        "summary": "Update a direct enrollment application",
        "description": "Approval-gated direct enrollment API for updating an off-exchange application. Treat `PUT` as a full replacement-style update. Send the HealthSherpa ONE `context` object with `product = \"ichra\"`, `exchange = \"off_exchange\"`, and `plan_year` plus the full current application payload, including unchanged fields you want to preserve. When sending `applicants.primary`, include the full current primary applicant object because omitted primary fields may be cleared. Other products and exchanges are not supported here. HealthSherpa ONE maps `context.plan_year` to the application `plan_year`; `context` is not part of the stored application payload. Before submission, all application fields may be updated. After submission, carriers may restrict updates; check `supports_changes`, `can_change_plan`, and `can_report_change` on `GET /v1/enrollments/{enrollment_id}?product=ichra&exchange=off_exchange` before attempting post-enrollment changes. HealthSherpa ONE applies the agent and TPA identifiers (`_agent_id`, `tpa_slug`) from your approved account setup; caller-supplied `_agent_id`, `tpa_slug`, `actor.agent_id`, and `agent_of_record` are rejected.\n\nSuccessful responses include the updated application data and current validation state. Service failures (authorization failures, invalid JSON bodies, validation errors, and service-availability errors) are returned as a top-level `errors[]` array with `code`, `message`, and optional `field`. Edge-generated failures (API Gateway and WAF) instead use the unified `error` envelope: a missing or invalid API key returns `403 forbidden`, and `413`, `415`, edge `429`, and gateway `502`/`504` also use that envelope. See the `EnrollmentError` response for both shapes.",
        "operationId": "updateEnrollment",
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "description": "Application id returned by `POST /v1/enrollments`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentUpdateRequest"
              },
              "example": {
                "context": {
                  "product": "ichra",
                  "exchange": "off_exchange",
                  "plan_year": 2026
                },
                "applicants": {
                  "primary": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "date_of_birth": "1990-01-01",
                    "gender": "female",
                    "us_citizen": true,
                    "resides_in_state": true,
                    "uses_tobacco": false,
                    "language_spoken": "english",
                    "language_written": "english",
                    "email": "jane.updated@example.com",
                    "phone": "5559876543",
                    "signature": "Jane Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EnrollmentResponse"
          },
          "400": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "401": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "403": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "404": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "409": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "429": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "500": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "503": {
            "$ref": "#/components/responses/EnrollmentError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "responses": {
      "EnrollmentResponse": {
        "description": "Successful direct enrollment application response. The response object is additive and may include carrier-specific fields.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Idempotent-Replay": {
            "description": "Present and set to `true` only when this response is being replayed from a prior call that supplied the same `Idempotency-Key` and request body.",
            "schema": {
              "type": "string",
              "enum": [ "true" ]
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EnrollmentResponse"
            },
            "example": {
              "application_id": "HSA000000001",
              "external_id": "crm-application-123",
              "policy_status": "draft",
              "document_status": "none_needed",
              "plan_hios_id": "12345CO1234501",
              "plan_year": 2026,
              "payment_instructions": {
                "payment_required_with_submission": false,
                "payment_redirect_supported": true,
                "pay_by_phone_supported": false,
                "payment_phone_number": null
              },
              "errors": []
            }
          }
        }
      },
      "EnrollmentListResponse": {
        "description": "Paginated direct enrollment application list.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApplicationListResponse"
            },
            "example": {
              "applications": [
                {
                  "application_id": "HSA000000001",
                  "external_id": "crm-application-123",
                  "employer_external_id": "employer-456",
                  "plan_year": "2026",
                  "plan_hios_id": "12345CO1234501",
                  "exchange_type": "off_exchange",
                  "policy_status": "effectuated",
                  "created_at": "2026-01-02T10:00:00Z",
                  "updated_at": "2026-01-03T10:00:00Z"
                }
              ],
              "pagination": {
                "limit": 25,
                "offset": 0,
                "total": 1
              }
            }
          }
        }
      },
      "SubmitEnrollmentResponse": {
        "description": "Application submission accepted. Processing can continue asynchronously; poll the application read endpoint for final policy status.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SubmitResponse"
            },
            "example": {
              "application_id": "HSA000000001",
              "external_id": "crm-application-123",
              "plan_year": 2026,
              "plan_hios_id": "12345CO1234501",
              "policy_status": "pending_effectuation",
              "payment_instructions": {
                "payment_required_with_submission": false,
                "payment_redirect_supported": true,
                "pay_by_phone_supported": false,
                "payment_phone_number": null
              },
              "submitted_at": "2026-01-14T16:00:00Z"
            }
          }
        }
      },
      "EnrollmentStatusChangeResponse": {
        "description": "Application status-change request accepted.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusChangeResponse"
            },
            "example": {
              "application_id": "HSA000000001",
              "policy_status": "cancelled",
              "effective_date": "2026-02-01",
              "updated_at": "2026-01-14T16:10:00Z"
            }
          }
        }
      },
      "PaymentRedirectResponse": {
        "description": "Payment redirect data returned. Render a browser form POST to `endpoint` with every returned `fields[]` entry as a hidden input.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRedirectResponse"
            },
            "example": {
              "application_id": "HSA000000001",
              "method": "POST",
              "endpoint": "https://carrier.example.com/pay",
              "fields": [
                {
                  "name": "SAMLResponse",
                  "value": "opaque-carrier-token"
                },
                {
                  "name": "RelayState",
                  "value": "return-to-carrier"
                }
              ]
            }
          }
        }
      },
      "SupportingDocumentationResponse": {
        "description": "Supporting document upload response.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SupportingDocumentationResponse"
            },
            "example": {
              "document_id": "DOC000000001",
              "application_id": "HSA000000001",
              "filename": "sep-proof.pdf",
              "document_type": "sep_verification",
              "uploaded_at": "2026-01-14T16:05:00Z"
            }
          }
        }
      },
      "PolicyStatusApplicationsResponse": {
        "description": "On-exchange Marketplace applications available for policy status readback.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PolicyStatusApplicationsResponse"
            },
            "example": {
              "applications": [
                {
                  "confirmation_id": "HSA123456789",
                  "external_id": "crm-application-123",
                  "plan_year": 2026,
                  "exchange_type": "on_exchange"
                }
              ],
              "pagination": {
                "limit": 25,
                "offset": 0
              }
            }
          }
        }
      },
      "PolicyStatusApplicationResponse": {
        "description": "Policy statuses for one on-exchange Marketplace application.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PolicyStatusApplicationResponse"
            },
            "example": {
              "policy_statuses": [
                {
                  "exchange_assigned_policy_id": "POL123",
                  "issuer_hios_id": "12345",
                  "effective_date": "2026-01-01",
                  "status": "active",
                  "payment_status": "paid",
                  "current_balance_cents": 0,
                  "past_due_balance_cents": 0,
                  "paid_through_date": "2026-01-31",
                  "grace_period_start_date": null,
                  "updated_at": "2026-01-15T12:00:00Z"
                }
              ]
            }
          }
        }
      },
      "EnrollmentError": {
        "description": "A direct enrollment error response. The body comes in one of two shapes depending on where the failure is generated:\n\n- **Service failures** use the top-level `errors[]` shape (`EnrollmentErrorsResponse`). This covers request validation, idempotency-key handling, authorization, service availability, and application-level errors.\n- **Edge-generated failures** (API Gateway and WAF, before the request reaches the service) use the unified `error` envelope (`ErrorResponse`). This is what you receive for a missing or invalid API key (`403 forbidden`), payload-size and media-type rejections (`413`, `415`), edge rate limiting (`429`), and gateway-level `5xx`.\n\nBranch on the presence of `errors` vs `error`, and on the `code` value, rather than on HTTP status alone.",
        "headers": {
          "X-Request-Id": {
            "description": "HealthSherpa ONE request id for tracing and support.",
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "description": "Returned when a retry window is available.",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/EnrollmentErrorsResponse" },
                { "$ref": "#/components/schemas/ErrorResponse" }
              ]
            },
            "examples": {
              "service_errors": {
                "summary": "Service failure (errors[])",
                "value": {
                  "errors": [
                    {
                      "code": "plan_not_available",
                      "field": "plan_hios_id",
                      "message": "Plan is not available for the requested effective date"
                    }
                  ]
                }
              },
              "edge_error": {
                "summary": "Edge-generated failure (unified error envelope)",
                "value": {
                  "error": {
                    "code": "forbidden",
                    "message": "The supplied API key is missing, invalid, or not authorized for this API."
                  }
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Request validation failed. The response body's `error.details` map contains per-field messages when the backend produced the error; edge-generated 400s omit `details`.\n\nA malformed `Idempotency-Key` header is also rejected here with `code: idempotency_key_invalid`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "invalid_request",
                "message": "Validation failed.",
                "details": {
                  "zip_code": ["ZIP code must be 5 digits"]
                }
              }
            }
          }
        }
      },
      "IdempotencyInProgress": {
        "description": "A previous request with the same `Idempotency-Key` is still being processed by the API. The partner should wait briefly and retry. The response is not produced by the upstream service — the in-flight request from the first call will succeed or fail on its own.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "idempotency_in_progress",
                "message": "A request with this Idempotency-Key is already being processed. Retry once it completes."
              }
            }
          }
        }
      },
      "IdempotencyMismatch": {
        "description": "The `Idempotency-Key` has been used before within the 24-hour retention window, but the current request body is not byte-for-byte identical to the original. To resolve, either resubmit the exact original payload or generate a fresh `Idempotency-Key` for the new request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "idempotency_mismatch",
                "message": "This Idempotency-Key has already been used with a different request body."
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key is missing, invalid, not authorized for this API, or the request was blocked at the API edge. Public API requests may receive this edge-generated response before the backend can return a runtime 401. When a request reaches the backend, 403 may also mean the developer account or integration is not in the state required for that operation. For `POST /v1/enrollment-sessions`, that operation documents its own flow-scoped 403 requirements (both flows require approved on-exchange enrollment access, plus `agent_assisted` OAuth link vs `self_service` deeplink agent ID) instead of using this shared response reference.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "forbidden",
                "message": "The supplied API key is missing, invalid, or not authorized for this API."
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource could not be found. Emitted by the backend when no supported data matches the request (for example, no counties for a ZIP), and by the API edge for unknown paths.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "No counties found for ZIP 12345."
              }
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request body exceeded the maximum size accepted by the API edge.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "payload_too_large",
                "message": "The request payload exceeded the maximum allowed size."
              }
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "The request `Content-Type` is not supported by the endpoint.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "unsupported_media_type",
                "message": "The request Content-Type is not supported by this endpoint."
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Clients should back off and retry after the delay advertised in the Retry-After header.",
        "headers": {
          "Retry-After": {
            "description": "Number of seconds the client should wait before retrying.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "rate_limited",
                "message": "Request rate limit exceeded. Please slow down and retry shortly."
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "An unexpected error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "internal_error",
                "message": "An unexpected error occurred."
              }
            }
          }
        }
      },
      "BadGateway": {
        "description": "The API edge received an invalid response from the backend.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "bad_gateway",
                "message": "The API edge received an invalid response from the backend. Please try again later."
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "The API is temporarily unable to serve the request. This may be returned by the API edge when the backend is unhealthy, or by the backend when an upstream catalog, quoting, or lookup service is unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "service_unavailable",
                "message": "The service is temporarily unavailable. Please try again later."
              }
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "The API edge did not receive a timely response from the backend.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "code": "gateway_timeout",
                "message": "The API edge did not receive a timely response from the backend. Please try again later."
              }
            }
          }
        }
      }
    },
    "schemas": {
      "PingResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "environment",
          "ok"
        ],
        "properties": {
          "environment": {
            "type": "string"
          },
          "ok": {
            "type": "boolean"
          }
        }
      },
      "EnrollmentRequest": {
        "description": "HealthSherpa ONE direct enrollment create request. Send the application payload at the request root and include the HealthSherpa ONE `context` object for routing. HealthSherpa ONE uses `context` only for routing and applies the agent and TPA identifiers (`_agent_id`, `tpa_slug`) from your approved account setup; caller-supplied `_agent_id`, `tpa_slug`, `actor.agent_id`, and `agent_of_record` are rejected.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApplicationCreateRequest"
          },
          {
            "type": "object",
            "additionalProperties": true,
            "required": [
              "context"
            ],
            "properties": {
              "context": {
                "$ref": "#/components/schemas/EnrollmentContext"
              }
            },
            "not": {
              "anyOf": [
                { "required": [ "agent_of_record" ] },
                { "required": [ "_agent_id" ] },
                { "required": [ "tpa_slug" ] },
                {
                  "required": [ "actor" ],
                  "properties": {
                    "actor": {
                      "type": "object",
                      "required": [ "agent_id" ]
                    }
                  }
                }
              ]
            }
          }
        ]
      },
      "EnrollmentUpdateRequest": {
        "type": "object",
        "description": "HealthSherpa ONE direct enrollment update request. Treat `PUT` as a full replacement-style update. Send the HealthSherpa ONE `context` object with `product = \"ichra\"`, `exchange = \"off_exchange\"`, and `plan_year` plus the full current application payload, including unchanged fields you want to preserve. When `applicants.primary` is present, include the full current primary applicant object because omitted primary fields may be cleared. HealthSherpa ONE maps `context.plan_year` to the application `plan_year`, applies `_agent_id` and `tpa_slug` from your account setup, and rejects caller-supplied `_agent_id`, `tpa_slug`, `actor.agent_id`, and `agent_of_record`.",
        "additionalProperties": true,
        "required": [
          "context"
        ],
        "properties": {
          "context": {
            "$ref": "#/components/schemas/EnrollmentUpdateContext"
          },
          "applicants": {
            "$ref": "#/components/schemas/Applicants",
            "description": "Applicant objects are replacement-shaped. When sending `applicants.primary`, include the full current primary applicant object; omitted primary fields may be cleared."
          }
        },
        "not": {
          "anyOf": [
            { "required": [ "agent_of_record" ] },
            { "required": [ "_agent_id" ] },
            { "required": [ "tpa_slug" ] },
            {
              "required": [ "actor" ],
              "properties": {
                "actor": {
                  "type": "object",
                  "required": [ "agent_id" ]
                }
              }
            }
          ]
        }
      },
      "SupportingDocumentationRequest": {
        "type": "object",
        "description": "Supporting document upload request for SEP verification. JSON requests send base64-encoded file bytes; multipart requests send the binary file directly. HealthSherpa ONE validates `context` and processes only the documented upload fields.",
        "required": [
          "context",
          "file",
          "document_type"
        ],
        "properties": {
          "context": {
            "$ref": "#/components/schemas/EnrollmentActionContext"
          },
          "file": {
            "type": "object",
            "required": [
              "filename",
              "content_type",
              "content_base64"
            ],
            "properties": {
              "filename": {
                "type": "string",
                "example": "sep-proof.pdf"
              },
              "content_type": {
                "type": "string",
                "enum": [ "application/pdf", "image/jpeg", "image/png" ],
                "description": "MIME type of the uploaded file.",
                "example": "application/pdf"
              },
              "content_base64": {
                "type": "string",
                "format": "byte",
                "description": "Base64-encoded file bytes.",
                "example": "JVBERi0xLjQg..."
              }
            }
          },
          "document_type": {
            "type": "string",
            "enum": [ "sep" ],
            "description": "Type of supporting document. Currently only `sep` is accepted."
          }
        }
      },
      "EnrollmentActionContextRequest": {
        "type": "object",
        "description": "Routing context for direct enrollment action endpoints.",
        "additionalProperties": true,
        "required": [
          "context"
        ],
        "properties": {
          "context": {
            "$ref": "#/components/schemas/EnrollmentActionContext"
          }
        }
      },
      "EnrollmentActionContext": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "product",
          "exchange"
        ],
        "properties": {
          "product": {
            "type": "string",
            "enum": [ "ichra" ]
          },
          "exchange": {
            "type": "string",
            "enum": [ "off_exchange" ]
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "description": "Response returned when an application submission is accepted. The object is additive and may include carrier-specific fields.",
        "additionalProperties": true,
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application that was submitted."
          },
          "external_id": {
            "type": "string",
            "description": "Partner-supplied external application id when available."
          },
          "plan_year": {
            "type": "integer"
          },
          "plan_hios_id": {
            "type": "string"
          },
          "policy_status": {
            "type": "string",
            "description": "Status after accepting the submission. Submission processing may continue asynchronously; poll the application read endpoint for the final outcome."
          },
          "payment_instructions": {
            "$ref": "#/components/schemas/PaymentInstructions"
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the application was submitted to the carrier."
          }
        }
      },
      "ApplicationListResponse": {
        "type": "object",
        "description": "Paginated list of direct enrollment applications.",
        "additionalProperties": true,
        "required": [
          "applications",
          "pagination"
        ],
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationListItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/ApplicationListPagination"
          }
        }
      },
      "ApplicationListItem": {
        "type": "object",
        "description": "Summary application row returned by `GET /v1/enrollments`.",
        "additionalProperties": true,
        "properties": {
          "application_id": { "type": "string" },
          "external_id": { "type": "string" },
          "employer_external_id": { "type": "string" },
          "plan_year": {
            "type": "string",
            "description": "Application plan year."
          },
          "plan_hios_id": { "type": "string" },
          "exchange_type": { "type": "string" },
          "policy_status": {
            "type": "string",
            "enum": [ "draft", "pending_effectuation", "effectuated", "submission_failed", "cancelled", "terminated" ]
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "PolicyStatusApplicationListItem": {
        "type": "object",
        "description": "On-exchange Marketplace application summary row returned by `GET /v1/policy-status/applications`.",
        "additionalProperties": true,
        "properties": {
          "confirmation_id": {
            "type": "string",
            "description": "HealthSherpa Marketplace application confirmation id."
          },
          "external_id": {
            "type": [ "string", "null" ],
            "description": "Partner-supplied external application id when available."
          },
          "plan_year": {
            "type": "integer",
            "description": "Application plan year."
          },
          "exchange_type": {
            "type": [ "string", "null" ],
            "description": "Marketplace exchange type returned by the upstream policy status API when available."
          }
        }
      },
      "PolicyStatusApplicationsResponse": {
        "type": "object",
        "description": "On-exchange Marketplace applications available for policy status readback.",
        "additionalProperties": true,
        "required": [
          "applications",
          "pagination"
        ],
        "properties": {
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyStatusApplicationListItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PolicyStatusApplicationPagination"
          }
        }
      },
      "PolicyStatusApplicationPagination": {
        "type": "object",
        "description": "Pagination metadata returned by the Marketplace policy status API.",
        "additionalProperties": true,
        "required": [
          "limit",
          "offset"
        ],
        "properties": {
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        }
      },
      "PolicyStatusApplicationResponse": {
        "type": "object",
        "description": "Policy statuses for one on-exchange Marketplace application.",
        "additionalProperties": true,
        "required": [
          "policy_statuses"
        ],
        "properties": {
          "policy_statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyStatusItem"
            }
          }
        }
      },
      "PolicyStatusItem": {
        "type": "object",
        "description": "Marketplace policy status row for one policy attached to an application.",
        "additionalProperties": true,
        "properties": {
          "exchange_assigned_policy_id": { "type": [ "string", "null" ] },
          "issuer_hios_id": { "type": [ "string", "null" ] },
          "effective_date": {
            "type": [ "string", "null" ],
            "format": "date"
          },
          "status": { "type": [ "string", "null" ] },
          "payment_status": { "type": [ "string", "null" ] },
          "current_balance_cents": {
            "type": [ "integer", "null" ],
            "description": "Current balance in cents when returned by the Marketplace policy status API."
          },
          "past_due_balance_cents": {
            "type": [ "integer", "null" ],
            "description": "Past-due balance in cents when returned by the Marketplace policy status API."
          },
          "paid_through_date": {
            "type": [ "string", "null" ],
            "format": "date"
          },
          "grace_period_start_date": {
            "type": [ "string", "null" ],
            "format": "date"
          },
          "updated_at": {
            "type": [ "string", "null" ],
            "format": "date-time"
          }
        }
      },
      "ApplicationListPagination": {
        "type": "object",
        "description": "Pagination metadata for application list responses.",
        "additionalProperties": true,
        "required": [
          "limit",
          "offset",
          "total"
        ],
        "properties": {
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "StatusChangeResponse": {
        "type": "object",
        "description": "Response returned for an accepted application cancellation or termination status change.",
        "additionalProperties": true,
        "required": [
          "application_id",
          "policy_status",
          "updated_at"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application whose policy status changed."
          },
          "policy_status": {
            "type": "string",
            "description": "Updated policy status."
          },
          "effective_date": {
            "type": [ "string", "null" ],
            "format": "date",
            "description": "The effective date of the status change when present."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
[...]
